@model KarieriBG.Web.ViewModels.Position.EditPositionViewModel

@{
    this.ViewData["Title"] = "Edit this position";
}

<h1>@this.ViewData["Title"]</h1>

<h2>Position Name: @Model.Name</h2>
<h2>Company Name: @Model.CompanyName</h2>
<h2>Types: @Model.Types</h2>
